<head>
    <link rel="stylesheet" media="all" href="https://assets.splitwise.com/assets/motel-74a0672481f8338539b67ab6072c1584f34cdf9e0b210f406c680b91c33e6818.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Montserrat:400,600,700&amp;display=swap" rel="stylesheet">  
    <script src="https://assets.splitwise.com/packs/js/runtime-f8395826a8d509b810a0.js" defer="defer"></script>
    <script src="https://assets.splitwise.com/packs/js/63-a67506c2e3e2400ec6a3.js" defer="defer"></script>
    <script src="https://assets.splitwise.com/packs/js/motel-9c53a291e1d0aba88b6c.js" defer="defer"></script>
</head>
<!---
<nav class="navbar">
<div class="container" style="background-color:rgb(72, 190, 157);">
    <div class="derecha" style="width:130%;">
        <img class="imglogo" src="../assets/logo.jpg">
        <aside class="nombreuser">
            <h1 class="text-4xl text-charcoal font-bold leading-tight pt-8 lg:pt-0">
                <span class="text-swap-any ">
                    CtrlGastos
                </span>
            </h1>
        </aside>
    </div>
    
    
    <nav role="navigation" class="mh-desktop svelte-4ldyho" aria-label="Desktop navigation">
        <ul class="svelte-4ldyho">
            <li class="svelte-vf0pv9">
                <a href="#" class="">Premium</a>
            </li>
            <li class="svelte-vf0pv9">
                <a href="#" class="">Ayuda</a>
            </li>
            <li class="svelte-vf0pv9">
                <a href="#" class="">Descargar</a>
            </li>
            <li role="separator" class="mh-header-primary svelte-1i2hclv"></li>
            <li class="svelte-kdyqkb">
                <p>
                    <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                      Perfil
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <ul class="svelte-11h1c9">
                        
                            <li class="svelte-11h1c9">
                                <a class="svelte-11h1c9" href="#" >Cuenta</a> 
                            </li>
                            <li class="svelte-11h1c9">
                                <a class="mh-subtle svelte-11h1c9" href="#" >Cerrar sesión</a> 
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
    

        <div class="container">
            <br>                
            <ul class="nav justify-content-end" style="margin-right: 2%;">
                <li class="nav-item">
                    <a routerLink="/principal" routerLinkActive="active"  class="nav-link" style="color:white; background-color: gray;">Inicio</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/tucuenta" routerLinkActive="active" class="nav-link" style="color:white; background-color: gray;">Tu Cuenta</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color:white; background-color: gray;" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opciones</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="gastos/addgastos">Añadir un Gasto</a>
                      <a class="dropdown-item" href="grupos">Crear un grupo</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Todos los gastos</a>
                    </div>
                  </li>                
                <li class="nav-item">
                    <a routerLink="/welcome" routerLinkActive="active" class="nav-link" href="#" style="color:white; background-color: gray;">Salir</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
-->
<nav class="navbar navbar-expand-lg" style="background-color:rgb(72, 190, 157);">
    
    <a href="/" class="imglogo">
        <span class="navbar-brand text-white px-3 py-2 sm:px-5 sm:py-3 rounded">CtrlGastos</span>  
    </a>
    <a href="/" class="imglogo" style= "width: 3%;">
        <img src="assets/logo.jpg" alt="logo" >  
    </a>

    <form class="form-inline align-items-end" style="margin-left: 55%;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-right: 5%;">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class=" text-white px-3 py-2 sm:px-5 sm:py-3 rounded  sm-cta-button" href="#">
                    <img src="assets/dashboard.png" alt="logo" >  
                </a>
              </li>
              <li class="nav-item">
                <a class=" text-white px-3 py-2 sm:px-5 sm:py-3 rounded  sm-cta-button" href="../gastos/addgastos">
                    <img src="assets/logo.jpg" alt="logo" >
                </a>
              </li>
              <li class="nav-item">
                <a class=" text-white px-3 py-2 sm:px-5 sm:py-3 rounded  sm-cta-button" href="grupos">todos</a>
              </li>
              <li class="nav-item dropdown">
                <a class=" text-white px-3 py-2 sm:px-5 sm:py-3 rounded  sm-cta-button" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Perfil
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="  px-3 py-2 sm:px-5 sm:py-3 dropdown-item" href="tucuenta">Cuenta</a>
                  <a class="  px-3 py-2 sm:px-5 sm:py-3 dropdown-item" href="welcome">Cerrar sesión</a>
                </div>
              </li>
            </ul>
          </div>
    </form>
  </nav>